@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Rose:wght@300..700&family=Rye&display=swap');

* {
  margin: 0;
  padding: 0;
  /* font-family: "Rye", serif; */
  box-sizing: border-box;
}

:root {
  --bg-color: #361919;
}

html {
  font-size: 62.5%;
  font-family: "urbanist";
}

.home-element {
  padding: 100px 20px;
  font-family: "Goldman", sans-serif;
  display: inline-block;
  justify-content: center;
  align-items: center;

}

body {
  background-color: black;
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
}

p,
li,
a,
button {
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  line-height: 1.6;
  color: #fff;
}

li {
  list-style: none;
}

a {
  color: #000;

  &:hover {
    color: #2e86c1;
  }
}

button {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  padding: 0.6rem 2.4rem;
  text-align: center;
  outline: none;
  border: none;
  text-transform: unset;
  transition: all 0.3s ease-in-out;
  background: #202020;
  color: #fff;
  border-radius: 1.5rem;
  /*thisdoesn'twork*/
  border-width: 0.1rem;
  border-style: solid;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  margin-top: 1.6rem;
}

/* Layout  */

.container {
  max-width: 130rem;
  margin: auto;
}

.grid {
  display: grid;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-cols {
  grid-template-columns: repeat(3, 1fr);
  justify-items: center
}

.grid-four-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* Layout  */
.header-main {
  box-shadow: rgba(255, 255, 255, 0.3) 0px 10px 10px -10px;
  background-color: #202020;
}

header {
  font-family: "Rye", serif;
  height: 10rem;
  width: 100%;
}

header .container {
  height: 10rem;
}

.navbar-grid {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  height: 10rem;
  padding: 0 3.2rem;
}

/* Desktop Menu */
nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 3.2rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Hamburger Icon (hidden on desktop) */
.menu-icon {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.menu-icon .bar {
  width: 28px;
  height: 3px;
  background: white;
  transition: 0.3s;
}

/* Animation for Cross (X) */
.rotate1 {
  transform: rotate(45deg) translate(5px, 5px);
}

.rotate2 {
  transform: rotate(-45deg) translate(5px, -5px);
}

.hide {
  opacity: 0;
}

/* ---------------- MOBILE ---------------- */
@media (max-width: 767px) {

  /* hamburger visible */
  .menu-icon {
    display: flex;
    justify-self: end;
  }

  nav {
    display: none;
  }

  /* When menuOpen = true */
  nav.mobile-open {
    display: block;
  }

  nav ul {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #2a5781d6;
  }

  nav ul li {
    margin: 25px 0;
    text-align: center;
  }

  nav ul li a {
    color: white;
    font-size: 18px;
  }

}


.ham-menu {
  display: none;
}

/* media queries  */
@media screen and (max-width: 998px) {
  .menu-web {
    display: none;
  }

  .ham-menu {
    display: flex;
    justify-content: flex-end;
  }

  .menu-mobile {
    position: absolute;
    top: 10rem;
    left: 0;
    background-color: #0d1212;
    width: 100%;
    box-shadow: rgba(255, 252, 252, 0.25) 0px 14px 28px;
  }

  .menu-mobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    & li:first-child {
      margin-top: 1.2rem;
    }

    & li:last-child {
      margin-bottom: 1.2rem;
    }
  }
}

/* hero section  */

.hero-section .container {
  padding: 3.2rem;
  margin: 9rem auto;
  gap: 6.4rem;

}

.paragraph {
  margin: 3.2rem 0;
}

.heading-xl {
  font-family: inherit;
  font-size: clamp(5.2rem, 6vw, 4.241rem);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -1px;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .banner-image {
  width: 100%;
}

@media screen and (max-width: 990px) {
  .hero-content {
    order: 1;
  }

  .container .banner-image {
    width: 80%;
    order: 0;
  }
}

/* About Section  */

.section-about {
  font-family: "Poppins", sans-serif;
  margin: 0 auto 9rem auto;
}

.gradient-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}

@media screen and (max-width: 991px) {
  .gradient-cards {
    grid-template-columns: 1fr;
  }
}

.container-title {
  text-align: center;
  padding: 0 !important;
  max-width: 60%;
  margin: 3rem auto;
  text-transform: capitalize;

  font-size: 3rem;
  color: #fff;
  font-weight: 600;
  line-height: 4rem;
}

.card {
  max-width: 55rem;
  border: 0;
  width: 100%;
  margin-inline: auto;
}

.container-card {
  position: relative;
  border: 2px solid transparent;
  background: linear-gradient(71deg, #080509, #1a171c, #080509);
  background-clip: padding-box;
  border-radius: 45px;
  padding: 40px;
}

.bg-green-box,
.bg-white-box,
.bg-yellow-box,
.bg-blue-box {
  position: relative;
}

.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  content: "";
  z-index: -1;
  border-radius: 45px;
}

.bg-green-box::after {
  background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}

.bg-white-box::after {
  background: linear-gradient(71deg, #121013, #b0afb0, #121013);
}

.bg-yellow-box::after {
  background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.bg-blue-box::after {
  background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
}

.card-title {
  font-weight: 600;
  color: white;
  letter-spacing: -0.02em;
  line-height: 40px;
  font-style: normal;
  font-size: 28px;
  padding-bottom: 8px;
}

.card-description {
  font-weight: 600;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  max-width: 470px;
}

/* footer CSS  */

.footer-contact {
  height: 10rem;
  display: flex;
  gap: 2.4rem;
  align-items: center;

  & .icon {
    color: #3a4ed5;
    font-size: 3.6rem;

    & .icon:nth-child(2) {
      rotate: 90deg;
    }
  }
}

.footer-contact-text {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  & p {
    font-size: 1.5rem;
    color: #757575;
  }

  & p:first-child {
    font-size: 1.7rem;
    font-weight: bold;
    color: #fff;
  }
}

.footer-menu {
  & ul {
    display: flex;
    justify-content: end;
  }
}

ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  background: #151414;
  position: relative;
}

.copyright-area {
  background: #202020;
  padding: 25px 0;
}

.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}

.copyright-text p a {
  color: #3a4ed5;
  margin-left: 0.6rem;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}

.footer-menu li:hover a {
  color: #3a4ed5;
}

.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/* ---------------
country Card
------------------ */

.country-card {
  margin-top: 3.2rem;
}

.country-section {
  margin: 6.4rem auto 9.6rem auto;

  & .grid {
    gap: 3.2rem;
    max-width: 132rem;
    margin: auto;
  }

  & img {
    width: 100%;
    max-width: 50rem;
    height: 16rem;
  }
}

/* indivisual card container  */
.country-details-card {
  max-width: 100%;
  margin: 6.4rem auto;
  box-shadow: rgba(168, 163, 184, 0.15) 0px 48px 100px 0px;

  & .container-card {
    & .grid {
      align-items: center;
    }

    & img {
      width: 100%;
      max-width: 30rem;
      margin-bottom: 0;
      height: auto;
      justify-self: center;
      align-items: center;
      box-shadow: rgba(255, 255, 255, 0.1) 0px 48px 100px 0px;
    }
  }

  & .infoContainer {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  & .country-card-backBtn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

.section-searchFilter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.2rem;

  & .container-card {
    padding: 0.8rem 2.4rem;
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
  }

  & input {
    font-family: "urbanist";
    font-size: 1.55rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.8);
    border: 0.05rem solid #fff;
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
  }

  & .select-section {
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    color: rgba(255, 255, 255, 0.8);
    padding: 0.6rem 2.4rem;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
    font-family: "urbanist";
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: capitalize;

    & option {
      background: linear-gradient(71deg, #080509, #1a171c, #080509);
      color: rgba(255, 255, 255, 0.8);
      padding: 0.6rem 2.4rem;
      border-radius: 5rem;
    }
  }

  & .select-section>option {
    background-color: #080509;
    color: rgba(255, 255, 255, 0.8);
    padding: 0.6rem 2.4rem;
    border-radius: 5rem;
    margin-top: 1rem;
  }
}

::placeholder {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.5);
}

/* ------------------
contact us page
--------------- */

.section-contact {
  margin: 9.6rem auto;
  font-family: "Red Rose", serif;

  & hr {
    border-color: rgba(255, 255, 255, 0.6);
  }
}

.contact-wrapper {
  display: flex;
  justify-content: center;

  & form {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    width: 90%;
    max-width: 48rem;

    & input,
    & textarea {
      font-family: "urbanist";
      background-color: #000;
      font-size: 1.6rem;
      color: #fff;
      outline: none;
      border: 0.1rem solid rgba(255, 255, 255, 0.4);
      padding: 1.2rem 1.6rem;
      border-radius: 0.3rem;
      -webkit-border-radius: 0.3rem;
      -moz-border-radius: 0.3rem;
      -ms-border-radius: 0.3rem;
      -o-border-radius: 0.3rem;
    }
  }
}

/* ----------------


contact us Page ends here
--------------------- */
/* sdfldsk */

@media screen and (max-width: 1320px) {
  .grid-four-cols {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 980px) {
  .grid-four-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 760px) {

  .grid-four-cols,
  .grid-three-cols,
  .grid-two-cols {
    grid-template-columns: 1fr;
  }

  .grid--cols {
    grid-template-columns: 1fr;
  }
}

.idicountry {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* align-items: center; */
  justify-content: center;

}

/* //Loader  */
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.loader-section {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}